<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">week_2</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zidingyizujian">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 自定义组件
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 父子组件通信
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 路由参数
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lifecycle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 生命周期方法
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo-service">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 依赖注入
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo-app">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 第二周小项目
            </NavLink>
        </div>


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
